/* Newsletter */

body {
    background-color: transparent;
    margin: 0;
}

.outer {
    margin: 0 auto;
    max-width: 900px;
    width:100%;
}

.middle .outer {
    background-color: transparent;
}

.header,
.middle,
.footer {
    margin:0 10px;
    text-align: center;
    background-color: transparent;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* Basic Styles */

a {
    color: blue !important;
    text-decoration: underline;
}

a span {
    color: blue;
}

a img {
    border: 0;
}

div, p, td {
    -webkit-font-smoothing: subpixel-antialiased;
}

table {
    border-collapse: collapse;
}

td {
    padding-top: 0;
    padding-bottom: 0;
}

.content-td {
    padding: 0;
}

.h1 {
    font-family: 'Tahoma', sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #000;
    text-align: center;
    line-height: 24px;
}

.h2 {
    font-family: 'Tahoma', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-align: center;
    line-height: 18px;
}

p,
.paragraph {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #000;
    text-align: center;
    line-height: 19px;
}

.null {
    margin-top: 0;
    margin-bottom: 0;
}

.null.bottom {
    margin-top: 0.5em;
}

.null.top {
    margin-bottom: 0.5em;
}

p {
    Margin: 0.5em 0;
}

.quote {
    color: red;
    font-weight: bold;
}

.small {
    font-size: 14px;
}

.small-links {
    font-size: 13px;
}

.copyright {
    font-size: 12px;
    font-style: italic;
    text-align: left;
}

.red {
    color: red;
}

.imitation {
    background: #a50021 none repeat scroll 0 0;
    height: 23px;
    margin: 0 auto;
    text-align: center;
    width: 139px;
    margin-bottom: 1em;
}

.imitation-text {
    color: white;
    line-height: 22px;
} 

/* Buttons */

.button {
    width:auto !important;
    margin: auto;
}

.button td {
    padding:0;
}

.button-link {
    font-family: Tahoma;
    font-size: 14px;
    color:#ffffff !important;
    font-weight: bold;
    text-decoration: none;
    background-color: #000;
    border:#000 10px solid;
    padding:0 10px;
    border-radius: 25px;
    display: inline-block;
}

.button-link span {
    color:#ffffff;
}
